@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%)) ;
    padding-top:8rem;
    font-family: 'Kumbh Sans', sans-serif;
    color: black;
    font-size: 0.75rem;
}
.page{
    display: flex;
    justify-content: center;
}
.faq-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    color: black;
    max-width:20rem;
    background-image: url(images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: 50% 0%;


}
.box-container{
    display: none;
}
.image-container{
    display: flex;
    flex-direction: column;
    min-width: 235px;
    max-width: 235px;
}
.forground img{
    width: 100%;
    height: 100%;
    translate: 0% -60%;
}
.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem 1.3rem 1.5rem 1.5rem;
}
.text-container h1{
font-size: 2rem;
}
.question-container{
    padding:1rem 0;
    
    border-bottom: 2px solid hsl(240, 5%, 91%);
}
.question{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 290px;
    border: none;
    background: none;
    font-family: 'Kumbh Sans', sans-serif;
   
}
.question p{
   
    font-size: 0.85rem;
}
.question::after{
    content: url(images/icon-arrow-down.svg);
}
.question:hover{
    cursor: pointer;
}

.question.bold::after{
    transform: rotate(180deg);
    transition: 0.5s ease;
}

.answer{
    font-family: 'Kumbh Sans', sans-serif;
    padding: .5rem 1.5rem 0 0;
    color: rgba(0, 0, 0, 0.5);
}
.bold{
    font-weight: 700;
}
.bold div.icon img{
    transform: rotateY('180');
}
.hidden{
    display: none;
    font-weight: 700;
}

@media screen and (min-width:1024px) 
{
    body{
        padding:8rem;
    }
    .page{
        display: flex;
        justify-content: center;
       
    }
    .faq-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 15px;
        color: black;   
        max-width: fit-content;
        background-image:url(images/bg-pattern-desktop.svg) ;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: -207% 71%;
    
    }

    .image-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 235px;
        max-width: 20rem;
        max-height:fit-content;
        translate: 0% 20%;
        padding: 1rem 0rem;
        
    }
    
    .text-container{
        display: flex;
        flex-direction: column;
        padding:3.5rem 3.5rem 3.5rem 1rem;
        
    }
    .box-container{
        display:flex;
        width: 8rem;
        z-index: 2;
        translate: -132% -116%;
      }  
    
    .box-container img{
        width: 100%;
        height: 100%;
    }
    .forground{
        overflow: hidden;
        
    }
    .forground img{         
       content: url(images/illustration-woman-online-desktop.svg);
       translate: -16% -1%;
       
    }
    .background{ 
       display: none;
    
    }
    .text-container{
       padding-right: 2rem;
       min-width:23rem;
       align-items: start;
    }
    .text-container h1{
        padding-bottom: 1rem;
    }
    .answer{
       max-width: 18rem;
    }
}